{% extends "mainApp/base.html" %}

{% block title %}Пост{% endblock %}

{% block content %}

<h2>{% if post %}Редагувати пост{% else %}Створити пост{% endif %}</h2>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" name="title" class="form-control"
               placeholder="Заголовок"
               value="{{ post.title|default:'' }}">
    </div>

    <div class="mb-3">
        <textarea name="text" class="form-control"
                  placeholder="Текст">{{ post.text|default:'' }}</textarea>
    </div>

    <button type="submit" class="btn btn-success">
        {% if post %}Зберегти{% else %}Створити{% endif %}
    </button>

</form>

{% endblock %}