{% extends "mainApp/base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}

<h1 class="text-center">📚 Bookworms</h1>

<hr>

{% if user.is_authenticated %}
    <a href="/posts/create/" class="btn btn-success mb-3">➕ Створити пост</a>
{% endif %}

<h3>Пости</h3>

{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">

            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <small>Автор: {{ post.author.username }}</small>

            <br><br>

            {% if post.author == user %}
                <a href="/posts/edit/{{ post.id }}/" class="btn btn-warning btn-sm">✏️ Редагувати</a>
                <a href="/posts/delete/{{ post.id }}/" class="btn btn-danger btn-sm">🗑 Видалити</a>
            {% endif %}

        </div>
    </div>
{% empty %}
    <p>Постів поки немає</p>
{% endfor %}

{% endblock %}