{% for field in form %}
    {% if field.name != 'avatar_choice' %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            </div>
    {% endif %}
{% endfor %}

<div class="mb-3">
    <label class="form-label fw-bold">Оберіть аватар:</label>
    <div class="row g-2">
        {% for radio in form.avatar_choice %}
            <div class="col-3 text-center">
                <label class="avatar-option">
                    {{ radio.tag }}
                    <img src="{{ radio.choice_label.image.url }}" class="img-thumbnail rounded-circle" style="width: 70px; height: 70px; object-fit: cover;">
                </label>
            </div>
        {% endfor %}
    </div>
</div>