POSTGRES_DB=bookworms
POSTGRES_USER=bookworms
POSTGRES_PASSWORD=change-me-now

DJANGO_SECRET_KEY=replace-with-long-random-string
DEBUG=0
ALLOWED_HOSTS=192.168.0.213,localhost,127.0.0.1,api
CSRF_TRUSTED_ORIGINS=http://192.168.0.213:18088
PUBLIC_BASE_URL=http://192.168.0.213:18088
SKIP_EMAIL_ACTIVATION=0
ACTIVATION_TIMEOUT_MINUTES=5
WEB3FORMS_ACCESS_KEY=d76edac5-49fd-4574-b89b-45e24170aeab
DEFAULT_LOAN_DAYS=14
TIME_ZONE=Europe/Kyiv

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@local
DJANGO_SUPERUSER_PASSWORD=change-admin-password
